<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:title", content="UNIONBANK DIGITAL EXPERIENCE The 35th Anniversary")
        meta(property="og:description", content="Metrotent, Metrowalk, Pasig City | January 20, 2017")
        meta(property="og:image", content="http://udx.instigators.io/images/UDX35logo.jpg")
        title UNIONBANK DIGITAL EXPERIENCE The 35th Anniversary
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300,400")
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="shortcut icon", href="favicon.ico")
        block addtl-css
        block addtl-top-js
    body
        .nav-wrap
            img(src="/images/logo-ubp.jpg", alt="")

        block content
        
        block addtl-js
