extends _layout

block addtl-css
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/dataTables.bootstrap.min.css")
    link(rel="stylesheet", href="/css/dataTables.responsive.min.css")

block content
    .container.form-wrapper
        button.btn.btn-default.refresh-btn(style="margin-bottom: 15px;") Refresh
        .panel.panel-default
            .panel-body
                table.table.table-striped.table-bordered.table-condensed
                    thead
                        tr
                            th Name 
                            th Email
                            th Contact_Number
                            th Department
                            th Branch
                            th Checkin
                            th 
                    tfoot
                        tr
                            th Name 
                            th Email
                            th Contact_Number
                            th Department
                            th Branch
                            th Checkin
                            th 
                    

block addtl-js
    script(src="/js/jquery.min.js")
    script(src="/js/jquery.dataTables.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/dataTables.bootstrap.js")
    script(src="/js/dataTables.responsive.min.js")
    script.
        String.prototype.capitalizeFirstLetter = function() {
            return this.trim().replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }
        $(document).ready(function() {
            var columnDefs = [
                { "width": "20%", "targets": [0] },
                { "visible": false, "targets": -2 },
                { "responsivePriority": 1, targets: 0 },
                { "responsivePriority": 2, targets: -1 }
            ];
            
            if($(window).width() < 420) {
                columnDefs = [
                    { "responsivePriority": 1, targets: 0 },
                    { "responsivePriority": 2, targets: -1 }
                ]
            }
            
            var dtable;
            
            $.getJSON("/api/registration/registrants", function(dataSet) {
                var options = {
                    //- "processing": true,
                    //- "serverSide": true,
                    //- "order": [[ 5, 'desc' ]],
                    //- "ajax": "/api/registration/registrants"
                    "responsive": true,
                    "aaData": dataSet,
                    "columns": [
                        { 
                            "data": "last_name",
                            "render": function(data, type, full, meta) {
                                return "".concat(full.last_name.capitalizeFirstLetter(), ", ", full.first_name.capitalizeFirstLetter());
                            }
                        },
                        { 
                            "data": "email",
                            "render": function(data, type, full, meta) {
                                return data.toLowerCase();
                            }
                        },
                        { "data": "mobile_number" },
                        { "data": "department" },
                        { "data": "branch" },
                        { "data": "checkin" },
                        {
                            "data": "id",
                            "render": function(data, type, full, meta) {
                                var btnText = full.checkin ? "Cancel" : "Checkin";
                                var btnClass = full.checkin ? "cancel-btn" : "checkin-btn";
                                
                                return '<button type="button" class="btn btn-default btn-sm '+ btnClass +'" data-userid="'+ data +'">' + btnText + '</button>';
                            }
                        }
                    ],
                    "columnDefs": columnDefs,
                    "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        //- console.log(aData.checkin);
                        if (aData.checkin){         
                            $(nRow).addClass('highlight');
                        }
                    },
                    "initComplete": function(settings, json) {
                        $('.dataTable').on('click touch', '.checkin-btn', function() {
                            var self = this;
                            var userID = $(this).data("userid");
                            
                            $.ajax({
                                url: '/api/registration/checkin/' + userID,
                                type: 'PUT',
                                success: function() {
                                    $(self).closest('tr').addClass('highlight');
                                    $(self).text('Cancel').removeClass('checkin-btn').addClass('cancel-btn');
                                }
                            });
                        });
                        
                        $('.dataTable').on('click touch', '.cancel-btn', function() {
                            var self = this;
                            var userID = $(this).data("userid");
                            
                            $.ajax({
                                url: '/api/registration/checkin/' + userID + '?checkin=false',
                                type: 'PUT',
                                success: function() {
                                    $(self).closest('tr').removeClass('highlight');
                                    $(self).text('Checkin').removeClass('cancel-btn').addClass('checkin-btn');
                                }
                            });
                        });
                    }
                }
                
                dtable = $('table').DataTable(options);
                
                $('.refresh-btn').on('click touch', function() {
                    //- dtable.ajax.reload();
                    window.location.href = window.location.href;
                });
                
            });
            
            
            
        });
