extends _layout

block addtl-top-js
    //- script(src="https://use.fontawesome.com/39c3b81656.js")
    //- script(src='https://www.google.com/recaptcha/api.js')

block content
    .container.form-wrapper
        .row
            .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
                .panel.panel-transparent
                    //- .text-wrap
                    //-     .row
                    //-         .col-sm-6
                    //-             p.left
                    //-                 i.fa.fa-location-arrow.fa-lg
                    //-                 a(href="https://goo.gl/maps/vBg2EsdM2c12", target="_blank") Metrotent, Metrowalk, Pasig City 
                    //-         .col-sm-6
                    //-             p.right
                    //-                 i.fa.fa-calendar.fa-lg
                    //-                 | January 20, 2017
                    img.img-responsive(src="/images/UDX35logo.jpg", alt="")
                    .panel-body
                        form(action="/", method="POST")
                            .row
                                .col-sm-6
                                    .form-group
                                        label(for="first_name") First Name
                                        input.form-control(type="text", placeholder="Juan", name="first_name", required="required") 
                                .col-sm-6
                                    .form-group
                                        label(for="last_name") Last Name
                                        input.form-control(type="text", placeholder="De La Cruz", name="last_name", required="required")
                            .row
                                .col-sm-6
                                    .form-group
                                        label(for="email") Email
                                        input.form-control(type="email", placeholder="jdelacruz@unionbankph.com", name="email", required="required")
                                .col-sm-6
                                    .form-group
                                        label(for="mobile_no") Mobile No.
                                        input.form-control(type="text", placeholder="09##-###-####", name="mobile_number", required="required")
                            .form-group
                                label(for="department") Department
                                input.form-control(type="text", placeholder="Human Resource", name="department", required="required")
                            .form-group
                                label(for="branch") Branch
                                input.form-control(type="text", placeholder="Ortigas", name="branch", required="required")
                            //- div.g-recaptcha(data-sitekey="6LeMlhEUAAAAAPKQUR9WH4lQxfHykkVKJYpWy2vY")
                            .button-container(style="margin-top: 50px")
                                button.btn-primary.btn.btn-lg.btn-block(type="submit") Submit Registration
                            
