extends _layout

block content
    .container.form-wrapper
        .row
            .col-md-6.col-md-offset-3.col-sm-10.col-sm-offset-1
                .panel.panel-transparent
                    //- .text-wrap
                    //-     .row
                    //-         .col-sm-6
                    //-             p.left
                    //-                 i.fa.fa-location-arrow.fa-lg
                    //-                 a(href="https://goo.gl/maps/vBg2EsdM2c12", target="_blank") Metrotent, Metrowalk, Pasig City 
                    //-         .col-sm-6
                    //-             p.right
                    //-                 i.fa.fa-calendar.fa-lg
                    //-                 | January 20, 2017
                    img.img-responsive(src="/images/UDX35logo.jpg", alt="")
                    .panel-body
                         h1(style="text-align: center") REGISTRATION SUCCESSFUL!
                         p 
                             a.pull-right(href="/", style="color: #fff") Click here to go back >
                            
