// out: ../../public/css/styles.css, compress: true

@import (less) '../../node_modules/normalize.css/normalize.css';
@import (inline) '../css/bootstrap-theme.min.css';
@import (inline) '../css/bootstrap.min.css';

// Colors

@light-purple: #574b8a;
@dark-purple: #0e0058;
@orange: #ff8b01;
@yellow: #fbca90;
@btn-orange: #ef7b3d;
@green: #2ecc71;

html {
    min-height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0058+0,574b8a+38,574b8a+40,574b8a+100 */
    background: #0e0058; /* Old browsers */
    background: -moz-linear-gradient(top, #0e0058 0%, #574b8a 38%, #574b8a 40%, #574b8a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0e0058 0%,#574b8a 38%,#574b8a 40%,#574b8a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0e0058 0%,#574b8a 38%,#574b8a 40%,#574b8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0058', endColorstr='#574b8a',GradientType=0 ); /* IE6-9 */
}

.nav-wrap {
    text-align: center;
    background-image: url('/images/masthead-bg.jpg');
    background-repeat: repeat-x;
}

.form-wrapper {
    margin-top: 30px;

    @media screen and (min-width: 992px) {
        // margin-top: 8%;
    }
}

.panel {
    border: 0;

    &.panel-transparent {
        background-color: rgba(0, 0, 0, 0.45);
        color: #fff;

        .text-wrap {
            padding: 0 15px;

            p {
                a {
                    color: #fff;
                }

                &.left {
                    text-align: left;

                    @media screen and (max-width: 420px) {
                        text-align: center;
                        margin-bottom: 0;
                    }
                }

                &.right {
                    text-align: right;

                    @media screen and (max-width: 420px) {
                        text-align: center;
                        margin-top: 0;
                    }
                }
            }

            .fa {
                margin-right: 10px;

                @media screen and (max-width: 420px) {
                    display: none;
                }
            }
        }

        .g-recaptcha {
            >div {
                margin: 0 auto;
            }
        }

        .btn-primary {
            background-color: @orange;
            border-color: darken(@btn-orange, 10%);
        }
    }
}

table {
    width: 100% !important;
    
    td:last-of-type {
        @media screen and (min-width: 992px) {
            text-align: center;
        }
    }

    .highlight {
        background-color: lighten(@light-purple, 40%) !important;
    }

    .checkin-btn {
        color: @dark-purple;
        border-color: @dark-purple;

        &:hover {
            background: lighten(@light-purple, 45%);
            border-color: @dark-purple;
            color: @dark-purple;
        }
    }

    .cancel-btn {
        color: @orange;
        border-color: @orange;

        &:hover {
            background: lighten(@orange, 40%);
            border-color: @orange;
            color: @orange;
        }
    }
}

.pagination {
    >.active {
        >a {
            background-color: @light-purple !important;
            border-color: @light-purple !important;
            color: #fff !important;
        }
    }

    >li {
        >a {
            color: @light-purple !important;
        }
    }
}
